.pokemon-container{
    display: flex;
    justify-content: space-around;
}

.button-container{
    display: flex;
    justify-content: space-around;
}

.button{
    width: 400px;
    height: 200px;
}

.unseeButton{
    text-align: justify;
}